<h1>Welcome to Our Demo Site, <%= @user.name %></h1>
  <p>
    You have successfully signed up to demo-project
    your username is: <%= @user.name %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>