



<% if admin_user_signed_in? %>
    <h1>Hello,   <%= current_admin_user.email %></h1>
    <%= link_to "Sign Out", destroy_admin_user_session_path, data: { turbo_method: :delete } %>
<% else %>
    <h1>Hello, </h1>
    <h3>Want to Sign in???</h3>
    <%= link_to "Sign In", new_admin_user_session_path %>
<% end %>
